.elementor-992486 .elementor-element.elementor-element-3c40c12:not(.elementor-motion-effects-element-type-background), .elementor-992486 .elementor-element.elementor-element-3c40c12 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2022/03/Eligibility-D.jpg");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-992486 .elementor-element.elementor-element-3c40c12 > .elementor-container{min-height:575px;}.elementor-992486 .elementor-element.elementor-element-3c40c12{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-105px;margin-bottom:0px;}.elementor-992486 .elementor-element.elementor-element-3c40c12 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-992486 .elementor-element.elementor-element-1bb13b64.elementor-column .elementor-widget-wrap{align-items:flex-end;}.elementor-992486 .elementor-element.elementor-element-1bb13b64.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-end;align-items:flex-end;}.elementor-992486 .elementor-element.elementor-element-1bb13b64 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-block-end:5px;}.elementor-992486 .elementor-element.elementor-element-1bb13b64 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-block-start:0px;margin-inline-start:0px;margin-block-end:0px;margin-inline-end:0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding-block-start:0px;padding-inline-start:0px;padding-block-end:0px;padding-inline-end:0px;}.elementor-992486 .elementor-element.elementor-element-1bb13b64 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-992486 .elementor-element.elementor-element-55f925de > .elementor-container{max-width:1140px;}.elementor-992486 .elementor-element.elementor-element-55f925de{margin-top:-190px;margin-bottom:0px;}.elementor-992486 .elementor-element.elementor-element-7fc4130a:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-992486 .elementor-element.elementor-element-7fc4130a > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#71181B;}.elementor-bc-flex-widget .elementor-992486 .elementor-element.elementor-element-7fc4130a.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-992486 .elementor-element.elementor-element-7fc4130a.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-992486 .elementor-element.elementor-element-7fc4130a.elementor-column > .elementor-widget-wrap{justify-content:flex-start;}.elementor-992486 .elementor-element.elementor-element-7fc4130a > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-block-start:0px;margin-inline-start:0px;margin-block-end:0px;margin-inline-end:0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding-block-start:30px;padding-inline-start:30px;padding-block-end:60px;padding-inline-end:30px;}.elementor-992486 .elementor-element.elementor-element-7fc4130a > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-992486 .elementor-element.elementor-element-4e7c6acb{width:auto;max-width:auto;text-align:start;}.elementor-992486 .elementor-element.elementor-element-4e7c6acb > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-992486 .elementor-element.elementor-element-4e7c6acb .elementor-heading-title{font-family:"Public Sans", Sans-serif;font-size:51px;font-weight:800;line-height:55px;letter-spacing:-2.06px;}.elementor-992486 .elementor-element.elementor-element-4ca9a3a .elementor-heading-title{font-family:"Public Sans", Sans-serif;font-size:18px;font-weight:500;text-transform:none;font-style:normal;line-height:24px;}.elementor-bc-flex-widget .elementor-992486 .elementor-element.elementor-element-3b5ab089.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-992486 .elementor-element.elementor-element-3b5ab089.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-992486 .elementor-element.elementor-element-3b5ab089.elementor-column > .elementor-widget-wrap{justify-content:flex-start;}.elementor-992486 .elementor-element.elementor-element-3b5ab089 > .elementor-element-populated{padding-block-start:0px;padding-inline-start:0px;padding-block-end:0px;padding-inline-end:0px;}.elementor-992486 .elementor-element.elementor-element-78ab1ec > .elementor-container{max-width:755px;}.elementor-992486 .elementor-element.elementor-element-78ab1ec{margin-top:60px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-992486 .elementor-element.elementor-element-210bab5 > .elementor-element-populated{padding-block-start:0px;padding-inline-start:0px;padding-block-end:0px;padding-inline-end:0px;}.elementor-992486 .elementor-element.elementor-element-0a5ed4a > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-992486 .elementor-element.elementor-element-0a5ed4a{column-gap:0px;text-align:start;font-family:var( --e-global-typography-d353781-font-family ), Sans-serif;font-size:var( --e-global-typography-d353781-font-size );font-weight:var( --e-global-typography-d353781-font-weight );text-transform:var( --e-global-typography-d353781-text-transform );font-style:var( --e-global-typography-d353781-font-style );line-height:var( --e-global-typography-d353781-line-height );}.elementor-992486 .elementor-element.elementor-element-0a5ed4a a{font-family:var( --e-global-typography-d353781-font-family ), Sans-serif;font-size:var( --e-global-typography-d353781-font-size );font-weight:var( --e-global-typography-d353781-font-weight );text-transform:var( --e-global-typography-d353781-text-transform );font-style:var( --e-global-typography-d353781-font-style );line-height:var( --e-global-typography-d353781-line-height );}.elementor-992486 .elementor-element.elementor-element-20f1a5d > .elementor-container{max-width:755px;}.elementor-992486 .elementor-element.elementor-element-20f1a5d{margin-top:20px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-992486 .elementor-element.elementor-element-cbaf33f > .elementor-element-populated{padding-block-start:0px;padding-inline-start:0px;padding-block-end:0px;padding-inline-end:0px;}.elementor-992486 .elementor-element.elementor-element-b43cf4b > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-992486 .elementor-element.elementor-element-b43cf4b{column-gap:0px;text-align:start;font-family:var( --e-global-typography-d353781-font-family ), Sans-serif;font-size:var( --e-global-typography-d353781-font-size );font-weight:var( --e-global-typography-d353781-font-weight );text-transform:var( --e-global-typography-d353781-text-transform );font-style:var( --e-global-typography-d353781-font-style );line-height:var( --e-global-typography-d353781-line-height );}.elementor-992486 .elementor-element.elementor-element-b43cf4b a{font-family:var( --e-global-typography-d353781-font-family ), Sans-serif;font-size:var( --e-global-typography-d353781-font-size );font-weight:var( --e-global-typography-d353781-font-weight );text-transform:var( --e-global-typography-d353781-text-transform );font-style:var( --e-global-typography-d353781-font-style );line-height:var( --e-global-typography-d353781-line-height );}.elementor-992486 .elementor-element.elementor-element-0e84ac2 > .elementor-container{max-width:1140px;}.elementor-992486 .elementor-element.elementor-element-0e84ac2{margin-top:60px;margin-bottom:0px;}.elementor-992486 .elementor-element.elementor-element-7652387 > .elementor-element-populated{margin-block-start:0px;margin-inline-start:0px;margin-block-end:0px;margin-inline-end:0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding-block-start:0px;padding-inline-start:0px;padding-block-end:0px;padding-inline-end:0px;}.elementor-992486 .elementor-element.elementor-element-a4b078e > .elementor-widget-container{margin:0px 0px 0px 0px;padding:20px 0px 50px -20px;}.elementor-992486 .elementor-element.elementor-element-a4b078e .elementor-tab-title, .elementor-992486 .elementor-element.elementor-element-a4b078e .elementor-tab-title:before, .elementor-992486 .elementor-element.elementor-element-a4b078e .elementor-tab-title:after, .elementor-992486 .elementor-element.elementor-element-a4b078e .elementor-tab-content, .elementor-992486 .elementor-element.elementor-element-a4b078e .elementor-tabs-content-wrapper{border-width:0px;}.elementor-992486 .elementor-element.elementor-element-a4b078e .elementor-tab-title.elementor-active,
					 .elementor-992486 .elementor-element.elementor-element-a4b078e .elementor-tab-title.elementor-active a{color:#FFFFFF;}.elementor-992486 .elementor-element.elementor-element-a4b078e .elementor-tab-title{font-family:var( --e-global-typography-vamtam_h4-font-family ), Sans-serif;font-size:var( --e-global-typography-vamtam_h4-font-size );font-weight:var( --e-global-typography-vamtam_h4-font-weight );line-height:var( --e-global-typography-vamtam_h4-line-height );}:root{--page-title-display:none;}@media(max-width:1024px){.elementor-992486 .elementor-element.elementor-element-3c40c12 > .elementor-container{min-height:55vh;}.elementor-992486 .elementor-element.elementor-element-3c40c12:not(.elementor-motion-effects-element-type-background), .elementor-992486 .elementor-element.elementor-element-3c40c12 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-992486 .elementor-element.elementor-element-3c40c12{margin-top:-90px;margin-bottom:100px;}.elementor-992486 .elementor-element.elementor-element-1bb13b64 > .elementor-element-populated{margin-block-start:0px;margin-inline-start:0px;margin-block-end:0px;margin-inline-end:0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding-block-start:0px;padding-inline-start:0px;padding-block-end:0px;padding-inline-end:0px;}.elementor-992486 .elementor-element.elementor-element-55f925de{margin-top:-250px;margin-bottom:0px;padding:0px 30px 0px 30px;}.elementor-992486 .elementor-element.elementor-element-7fc4130a > .elementor-element-populated{margin-block-start:0px;margin-inline-start:0px;margin-block-end:0px;margin-inline-end:0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding-block-start:30px;padding-inline-start:30px;padding-block-end:60px;padding-inline-end:30px;}.elementor-992486 .elementor-element.elementor-element-4e7c6acb{width:auto;max-width:auto;}.elementor-992486 .elementor-element.elementor-element-78ab1ec{margin-top:0px;margin-bottom:0px;}.elementor-992486 .elementor-element.elementor-element-0a5ed4a > .elementor-widget-container{padding:0px 20px 0px 20px;}.elementor-992486 .elementor-element.elementor-element-0a5ed4a{font-size:var( --e-global-typography-d353781-font-size );line-height:var( --e-global-typography-d353781-line-height );}.elementor-992486 .elementor-element.elementor-element-0a5ed4a a{font-size:var( --e-global-typography-d353781-font-size );line-height:var( --e-global-typography-d353781-line-height );}.elementor-992486 .elementor-element.elementor-element-20f1a5d{margin-top:0px;margin-bottom:0px;}.elementor-992486 .elementor-element.elementor-element-b43cf4b > .elementor-widget-container{padding:0px 20px 0px 20px;}.elementor-992486 .elementor-element.elementor-element-b43cf4b{font-size:var( --e-global-typography-d353781-font-size );line-height:var( --e-global-typography-d353781-line-height );}.elementor-992486 .elementor-element.elementor-element-b43cf4b a{font-size:var( --e-global-typography-d353781-font-size );line-height:var( --e-global-typography-d353781-line-height );}.elementor-992486 .elementor-element.elementor-element-a4b078e .elementor-tab-title{font-size:var( --e-global-typography-vamtam_h4-font-size );line-height:var( --e-global-typography-vamtam_h4-line-height );}}@media(max-width:767px){.elementor-992486 .elementor-element.elementor-element-3c40c12:not(.elementor-motion-effects-element-type-background), .elementor-992486 .elementor-element.elementor-element-3c40c12 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2022/03/Eligibility-M.jpg");}.elementor-992486 .elementor-element.elementor-element-3c40c12 > .elementor-container{min-height:410px;}.elementor-992486 .elementor-element.elementor-element-3c40c12{margin-top:-90px;margin-bottom:100px;}.elementor-992486 .elementor-element.elementor-element-55f925de{margin-top:-205px;margin-bottom:0px;padding:0px 20px 0px 20px;}.elementor-992486 .elementor-element.elementor-element-7fc4130a{width:100%;}.elementor-992486 .elementor-element.elementor-element-7fc4130a.elementor-column > .elementor-widget-wrap{justify-content:flex-start;}.elementor-992486 .elementor-element.elementor-element-7fc4130a > .elementor-element-populated{padding-block-start:20px;padding-inline-start:20px;padding-block-end:45px;padding-inline-end:20px;}.elementor-992486 .elementor-element.elementor-element-4e7c6acb{width:100%;max-width:100%;}.elementor-992486 .elementor-element.elementor-element-4e7c6acb > .elementor-widget-container{margin:0px 0px 0px 0px;padding:10px 0px 0px 0px;}.elementor-992486 .elementor-element.elementor-element-4e7c6acb .elementor-heading-title{font-size:40px;line-height:45px;letter-spacing:-2.04px;}.elementor-992486 .elementor-element.elementor-element-4ca9a3a .elementor-heading-title{font-size:65px;line-height:65px;}.elementor-992486 .elementor-element.elementor-element-78ab1ec{margin-top:30px;margin-bottom:0px;padding:0px 0px 0px 00px;}.elementor-992486 .elementor-element.elementor-element-210bab5 > .elementor-element-populated{padding-block-start:0px;padding-inline-start:020px;padding-block-end:0px;padding-inline-end:020px;}.elementor-992486 .elementor-element.elementor-element-0a5ed4a > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-992486 .elementor-element.elementor-element-0a5ed4a{column-gap:1px;text-align:start;font-size:var( --e-global-typography-d353781-font-size );line-height:var( --e-global-typography-d353781-line-height );}.elementor-992486 .elementor-element.elementor-element-0a5ed4a a{font-size:var( --e-global-typography-d353781-font-size );line-height:var( --e-global-typography-d353781-line-height );}.elementor-992486 .elementor-element.elementor-element-20f1a5d{margin-top:60px;margin-bottom:0px;padding:0px 0px 0px 00px;}.elementor-992486 .elementor-element.elementor-element-cbaf33f > .elementor-element-populated{padding-block-start:0px;padding-inline-start:020px;padding-block-end:0px;padding-inline-end:020px;}.elementor-992486 .elementor-element.elementor-element-b43cf4b > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-992486 .elementor-element.elementor-element-b43cf4b{column-gap:1px;text-align:start;font-size:var( --e-global-typography-d353781-font-size );line-height:var( --e-global-typography-d353781-line-height );}.elementor-992486 .elementor-element.elementor-element-b43cf4b a{font-size:var( --e-global-typography-d353781-font-size );line-height:var( --e-global-typography-d353781-line-height );}.elementor-992486 .elementor-element.elementor-element-0e84ac2{margin-top:60px;margin-bottom:0px;}.elementor-992486 .elementor-element.elementor-element-a4b078e > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;} .elementor-992486 .elementor-element.elementor-element-a4b078e .elementor-tab-mobile-title.elementor-active{color:#FFFFFF;}.elementor-992486 .elementor-element.elementor-element-a4b078e .elementor-tab-title{font-size:var( --e-global-typography-vamtam_h4-font-size );line-height:var( --e-global-typography-vamtam_h4-line-height );}}@media(min-width:768px){.elementor-992486 .elementor-element.elementor-element-7fc4130a{width:60%;}.elementor-992486 .elementor-element.elementor-element-3b5ab089{width:40%;}}@media(max-width:1024px) and (min-width:768px){.elementor-992486 .elementor-element.elementor-element-7fc4130a{width:100%;}}/* Start custom CSS for column, class: .elementor-element-210bab5 */#show_hidefirst {
    background-color: #F04323;
    top: 1451px;
    left: 603px;
    width: 161px;
    height: 41px;
    display: block;
    margin: auto;
    z-index: 1;
    margin-top: 5px;
}

#show_hidefirst{
    color:#ffffff;
    text-align:center;
    padding:8px;
    cursor: pointer;
    line-height: 24px;
    font-weight: 500;
}

.show_hidefirst::after{
   content: "\e994";
font-family: elementskit!important;
    margin-left: 10px;
    position: relative;
    top: 3px;
}

.show_hidefirst::before {
    content: "";
    background-color: rgb(255,255,255,0.8);
    position: absolute;
   bottom: 45px;
    height: 45px;
    width: 100%;
    left: 0;
    z-index: 1
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-cbaf33f */#show_hidefirst {
    background-color: #F04323;
    top: 1451px;
    left: 603px;
    width: 161px;
    height: 41px;
    display: block;
    margin: auto;
    z-index: 1;
    margin-top: 5px;
}

#show_hidefirst{
    color:#ffffff;
    text-align:center;
    padding:8px;
    cursor: pointer;
    line-height: 24px;
    font-weight: 500;
}

.show_hidefirst::after{
   content: "\e994";
font-family: elementskit!important;
    margin-left: 10px;
    position: relative;
    top: 3px;
}

.show_hidefirst::before {
    content: "";
    background-color: rgb(255,255,255,0.8);
    position: absolute;
   bottom: 45px;
    height: 45px;
    width: 100%;
    left: 0;
    z-index: 1
}/* End custom CSS */
/* Start custom CSS for tabs, class: .elementor-element-a4b078e */td {
  text-align: left;
  padding: 8px;font-size: 18px;line-height: 60px
}
.wp-block-table.is-style-stripes tr, tr{border-bottom:0px!Important;}
p.tabp{background-color: #202020;
    text-align: center;
    padding: 22px 10px; color: #fff; line-height: 35px; margin-bottom: 0; font-size: 26px !important;}
a.goto:after{display:none!important;}

th {border: none !important;  text-align: left; padding: 8px;color: #fff !important;font-size: 26px !important;border: none !important;background-color: #000;padding: 0.5em 0.3em 0.5em 0.8em!important}
th td{  padding: 8px;color: #fff;}
tr:nth-child(odd) {border: none;
  background-color: #dddddd;
}
table{border: none;}
.elementor-tab-content h3 {
    font-size: 26px!important;
    padding: 15px 0px!important;
}


.holistic1 .wp-block-table.is-style-stripes td, td {
    border: none !important;
    padding: 1em 0.2em 1em 0.8em!important;
    font-weight: 600 !important;
    color: #000 !important;
    line-height:1.5em!important;
    }
    .tabln td,td{line-height:2em!important}
.holistic1 .wp-block-table.is-style-stripes tr:first-child, tr:first-child {
    border-top: 1px solid #fff !important;
}

 

.tabln{display: inline-block; padding: 0px 100px; width:100%;}
.tabln h4{ font-size:26px!important; margin:30px 0px 23px 0px!important;}
.tabln h5{ font-size:16px!important; margin:20px 0px 0px 0px; font-weight:bold;
    line-height: 24px;
    font-weight: 700 !important;
}
.tabln.tabln1 h4 {
    margin: 30px 0px 24px 0px;
}
.tabln ul {
    margin: 0px 0px 20px 0px!important;
}
.tabln ul li{ margin-bottom:10px; font-size:16px;}

.holistic1 .elementor-tab-content h3 {
    font-size: 26px!important;
    padding: 15px 0px!important;
    margin-bottom: -20px;
    margin-top: 10px;
}
@media only screen and (max-width: 767px) {
   .holistic1 .wp-block-table.is-style-stripes body.responsive-layout td, body.responsive-layout td:first-child {
 
    width: 267px;
}
.holistic1 .elementor-tab-title a{font-size:22px!important;}
.holistic1 .elementor-tab-title a span{font-size:16px!important;}
.holistic1 .elementor-tab-title{width:190px!important;}
homtl{margin-top: 44px!important;}
table{margin:0px 0px 6px 0px!important;}
.tabln h5 {
    margin: 8px 0px 8px 0px;
    font-weight:700!important;
    font-size:16px !important;
}
    .holistic1 .elementor-tab-content h3 {
    font-size: 22px!important;
    padding: 15px 0px!important;
}
    .tablnin2 p{width: 334%;}
   .holistic1 .elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding: 0px 0px 10px 0px;
}
.holistic1 .elementor-section.elementor-element {
    padding: 0 0px 0px 20px;
}
    .tabln{display: inline-block; width:100%; padding:0px;}
   .tabln th {
  
    font-size: 18px!important;
    font-weight: bold;
    padding: 17px 20px!important;
}
.holistic1 .elementor-tab-content h3{    margin-top: 34px!important;}
.tabln td {
    font-size: 14px!important;
    font-weight: bold!important;
    padding: 20px 20px!important;
}
.tabln h4{font-size:18px!important; margin:0px 0px 0px -14px!important;}
.tablnin {
    border-bottom: 2px solid #eee;
    margin-bottom: 10px;
}
.tabln ul li {
    font-size: 16px;
    line-height: 20px!important;
}
table{width:334%!important;}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-0e84ac2 */.holistic2 .elementor-tab-title {
    background: #f1f1f1;
    padding: 20px 10px 20px 20px!important;
}
.holistic2 .elementor-widget-tabs .elementor-tab-desktop-title.elementor-active {
    background-color: #831619!important;
    color: #ffffff!important;
}
#tabsetid2 .elementor-tabs-wrapper .elementor-active a:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 20px solid #831619;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    float: left;
    bottom: -20px;
}

.holistic2 .elementor-tab-title a {
    color: #831619!important;
    margin: 0;
    line-height: 30px;
    font-size: 24px!important;
    font-weight: bold;
}

.holistic2 .elementor-tab-title a span {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    float: left;
     color: #000;
}

.holistic2 .elementor-widget-tabs .elementor-tab-desktop-title.elementor-active a {
    color: #fff!important;
}

.holistic2 .elementor-widget-tabs .elementor-tab-desktop-title.elementor-active a span {
    color: #fff!important;
}
.holistic2 .elementor-widget-tabs .elementor-tabs-wrapper {
    padding: 20px 0px!important;
}
.holistic2 .elementor-tab-desktop-title {
    margin-right: 15px;
    float: left;
}

.holistic2 .elementor-tab-title {
    width: 213px!important;
    height: 160px!important;
}

.holistic2 .elementor-widget-tabs.elementor-tabs-view-horizontal .elementor-tab-content {
    border-style: none;
}
.holistic2 .elementor-tab-title:after {
        border-width: 0 !important;
}
.holistic2 .elementor-tab-title:before {
     border-width: 0 !important;
}



@media screen and (max-width: 767px){ 
 .holistic2 .elementor-tab-title { width: 100%!important;
        height: 110px !important;    }
 
 #tabsetid2 .elementor-tab-mobile-title{letter-spacing:1!important;}
 
 #tabsetid2 .elementor-tab-title{ min-height:inherit !important;}
    
    .holistic2 .elementor-tab-title.elementor-active {
  color: #831619!important;
      font-weight: bold;
      margin: 0;
    line-height: 30px;
    font-size: 18px!important;
    border: none !important;
}
.holistic2 .elementor-tab-mobile-title.elementor-active  {
    background-color: #831619!important;
}


.holistic2 .elementor-widget-tabs .elementor-tab-mobile-title {
      color: #831619!important;
    margin:0 0 30px;
    line-height: 30px;
    font-size: 18px!important;
    font-weight: bold;
}
.holistic2 .elementor-widget-tabs .elementor-tab-mobile-title span {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    float: left;
     color: #000;
}

.holistic2 .elementor-widget-tabs .elementor-tab-mobile-title.elementor-active  {
    color: #ffffff!important;
}
.holistic2 .elementor-widget-tabs .elementor-tab-mobile-title.elementor-active span {
     color: #ffffff!important;
}


.holistic2 .elementor-widget-tabs .elementor-tab-mobile-title {
    position: relative;
}

.holistic2 .elementor-widget-tabs .elementor-tab-mobile-title:after {
    content: "\e982";
        font-family: elementskit!important;
        speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 3%;
    top:45%;
}

.holistic2 .elementor-widget-tabs .elementor-tab-mobile-title.elementor-active:after {
        content: "\e981";
}

.holistic2 .elementor-widget-tabs .elementor-tab-mobile-title {
    border-bottom: 1px solid #d4d4d4;
}


}


/*Table*/

td {
  text-align: left;
  padding: 8px;font-size: 18px;line-height: 60px
}
.wp-block-table.is-style-stripes tr, tr{border-bottom:0px!Important;}
p.tabp{background-color: #202020; padding: 22px 10px; color: #fff; line-height: 35px; margin-bottom: 0; font-size: 26px !important;}
a.goto:after{display:none!important;}

th {border: none !important;  text-align: left; padding: 8px;color: #fff !important;font-size: 20px !important;border: none !important;background-color: #000;padding: 0.5em 0.3em 0.5em 0.8em!important}
th td{  padding: 8px;color: #fff;}
tr:nth-child(odd) {border: none;
  background-color: #dddddd;
}
table{border: none;}
.elementor-tab-content h3 {
    font-size: 26px!important;
    padding: 5px 0px!important;
}




.holistic2 .wp-block-table.is-style-stripes td, td {
    border: none !important;
    padding: 1em 0.2em 1em 0.8em!important;
    font-weight: 600 !important;
    color: #000 !important;
    line-height:1.5em!important;
    }
    .tabln td,td{line-height:2em!important}
.holistic2 .wp-block-table.is-style-stripes tr:first-child, tr:first-child {
    border-top: 1px solid #fff !important;
}

 

.tabln{display: inline-block; padding: 0px 0px; width:100%;}
.tabln h4{ font-size:22px!important; margin:0px 0px 23px 0px!important;}
.tabln h5{ font-size:18px!important; margin:20px 0px 8px 0px; font-weight:bold;}
.tabln.tabln1 h4 {
    margin: 30px 0px 24px 0px;
}
.tabln ul {
    margin: 0px 0px 30px 0px!important;
}
.tabln ul li{ margin-bottom:10px; font-size:16px;}


@media only screen and (max-width: 767px) {
 
table{margin:0px 0px 6px 0px!important;}
.tabln h5 {
    margin: 8px 0px 8px 0px;}
    .holistic1 .elementor-tab-content h3 {
    font-size: 22px!important;
    padding: 15px 0px!important;
}
    .tablnin2 p{width: 334%;}
   .holistic1 .elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding: 0px 0px 10px 0px;
}

    .tabln{display: inline-block; width:100%; padding:0px;}
   .tabln th {
  
    font-size: 18px!important;
    font-weight: bold;
    padding: 5px 10px!important;
}
.holistic2 .elementor-tab-content h3{    margin-top: 34px!important;}
.tabln td {
    font-size: 16px!important;
    font-weight: bold!important;
    padding: 20px 20px!important;
}
.tabln h4{font-size:18px!important; margin:0px 0px 10px 0px!important;}
.tablnin {
    border-bottom: 2px solid #eee;
    margin-bottom: 10px;
}
.tabln ul li {
    font-size: 16px;
    line-height:22px!important;
}
table{width:334%!important;}

.holistic2 .elementor-widget-tabs.elementor-tabs-view-horizontal .elementor-tab-content{ padding-bottom:30px;}

}

.tabln .eligibility-content-wrap ul li {
        font-size: 18px;
        line-height: 24px;
}/* End custom CSS */