.elementor-994821 .elementor-element.elementor-element-3c40c12:not(.elementor-motion-effects-element-type-background), .elementor-994821 .elementor-element.elementor-element-3c40c12 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2022/04/refereed-journals-lead-d1.jpg");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-994821 .elementor-element.elementor-element-3c40c12 > .elementor-container{max-width:1140px;min-height:575px;}.elementor-994821 .elementor-element.elementor-element-3c40c12{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-105px;margin-bottom:0px;}.elementor-994821 .elementor-element.elementor-element-3c40c12 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-994821 .elementor-element.elementor-element-1bb13b64.elementor-column .elementor-widget-wrap{align-items:flex-end;}.elementor-994821 .elementor-element.elementor-element-1bb13b64.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-end;align-items:flex-end;}.elementor-994821 .elementor-element.elementor-element-1bb13b64 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-block-end:5px;}.elementor-994821 .elementor-element.elementor-element-1bb13b64 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-block-start:0px;margin-inline-start:0px;margin-block-end:0px;margin-inline-end:0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding-block-start:0px;padding-inline-start:0px;padding-block-end:0px;padding-inline-end:0px;}.elementor-994821 .elementor-element.elementor-element-1bb13b64 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-994821 .elementor-element.elementor-element-55f925de > .elementor-container{max-width:1140px;}.elementor-994821 .elementor-element.elementor-element-55f925de{margin-top:-190px;margin-bottom:0px;}.elementor-994821 .elementor-element.elementor-element-7fc4130a:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-994821 .elementor-element.elementor-element-7fc4130a > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#71181B;}.elementor-bc-flex-widget .elementor-994821 .elementor-element.elementor-element-7fc4130a.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-994821 .elementor-element.elementor-element-7fc4130a.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-994821 .elementor-element.elementor-element-7fc4130a.elementor-column > .elementor-widget-wrap{justify-content:flex-start;}.elementor-994821 .elementor-element.elementor-element-7fc4130a > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-block-start:0px;margin-inline-start:0px;margin-block-end:0px;margin-inline-end:0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding-block-start:30px;padding-inline-start:30px;padding-block-end:60px;padding-inline-end:30px;}.elementor-994821 .elementor-element.elementor-element-7fc4130a > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-994821 .elementor-element.elementor-element-4e7c6acb{width:auto;max-width:auto;text-align:start;}.elementor-994821 .elementor-element.elementor-element-4e7c6acb > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-994821 .elementor-element.elementor-element-4e7c6acb .elementor-heading-title{font-family:"Public Sans", Sans-serif;font-size:51px;font-weight:800;line-height:55px;letter-spacing:-2.06px;}.elementor-994821 .elementor-element.elementor-element-4ca9a3a .elementor-heading-title{font-family:"Public Sans", Sans-serif;font-size:18px;font-weight:500;text-transform:none;font-style:normal;line-height:24px;}.elementor-bc-flex-widget .elementor-994821 .elementor-element.elementor-element-3b5ab089.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-994821 .elementor-element.elementor-element-3b5ab089.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-994821 .elementor-element.elementor-element-3b5ab089.elementor-column > .elementor-widget-wrap{justify-content:flex-start;}.elementor-994821 .elementor-element.elementor-element-3b5ab089 > .elementor-element-populated{padding-block-start:0px;padding-inline-start:0px;padding-block-end:0px;padding-inline-end:0px;}.elementor-994821 .elementor-element.elementor-element-78ab1ec > .elementor-container{max-width:755px;}.elementor-994821 .elementor-element.elementor-element-78ab1ec{margin-top:50px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-994821 .elementor-element.elementor-element-210bab5 > .elementor-element-populated{padding-block-start:0px;padding-inline-start:0px;padding-block-end:0px;padding-inline-end:0px;}.elementor-994821 .elementor-element.elementor-element-0a5ed4a > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-994821 .elementor-element.elementor-element-0a5ed4a{column-gap:0px;text-align:start;font-family:var( --e-global-typography-d353781-font-family ), Sans-serif;font-size:var( --e-global-typography-d353781-font-size );font-weight:var( --e-global-typography-d353781-font-weight );text-transform:var( --e-global-typography-d353781-text-transform );font-style:var( --e-global-typography-d353781-font-style );line-height:var( --e-global-typography-d353781-line-height );color:#000000;}.elementor-994821 .elementor-element.elementor-element-0a5ed4a a{font-family:var( --e-global-typography-d353781-font-family ), Sans-serif;font-size:var( --e-global-typography-d353781-font-size );font-weight:var( --e-global-typography-d353781-font-weight );text-transform:var( --e-global-typography-d353781-text-transform );font-style:var( --e-global-typography-d353781-font-style );line-height:var( --e-global-typography-d353781-line-height );color:#000000;}.elementor-994821 .elementor-element.elementor-element-3c40023 > .elementor-container{max-width:1140px;}.elementor-994821 .elementor-element.elementor-element-3c40023{margin-top:60px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-994821 .elementor-element.elementor-element-e7b4b2b > .elementor-element-populated{margin-block-start:0px;margin-inline-start:0px;margin-block-end:0px;margin-inline-end:0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding-block-start:0px;padding-inline-start:0px;padding-block-end:0px;padding-inline-end:0px;}.elementor-994821 .elementor-element.elementor-element-9febfc8 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:20px 0px 50px -20px;}.elementor-994821 .elementor-element.elementor-element-9febfc8 .elementor-tab-title, .elementor-994821 .elementor-element.elementor-element-9febfc8 .elementor-tab-title:before, .elementor-994821 .elementor-element.elementor-element-9febfc8 .elementor-tab-title:after, .elementor-994821 .elementor-element.elementor-element-9febfc8 .elementor-tab-content, .elementor-994821 .elementor-element.elementor-element-9febfc8 .elementor-tabs-content-wrapper{border-width:0px;}.elementor-994821 .elementor-element.elementor-element-9febfc8 .elementor-tab-title.elementor-active,
					 .elementor-994821 .elementor-element.elementor-element-9febfc8 .elementor-tab-title.elementor-active a{color:#FFFFFF;}.elementor-994821 .elementor-element.elementor-element-565917b{margin-top:60px;margin-bottom:0px;}:root{--page-title-display:none;}@media(max-width:1024px){.elementor-994821 .elementor-element.elementor-element-3c40c12 > .elementor-container{min-height:55vh;}.elementor-994821 .elementor-element.elementor-element-3c40c12:not(.elementor-motion-effects-element-type-background), .elementor-994821 .elementor-element.elementor-element-3c40c12 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-994821 .elementor-element.elementor-element-3c40c12{margin-top:-90px;margin-bottom:100px;}.elementor-994821 .elementor-element.elementor-element-1bb13b64 > .elementor-element-populated{margin-block-start:0px;margin-inline-start:0px;margin-block-end:0px;margin-inline-end:0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding-block-start:0px;padding-inline-start:0px;padding-block-end:0px;padding-inline-end:0px;}.elementor-994821 .elementor-element.elementor-element-55f925de{margin-top:-250px;margin-bottom:0px;padding:0px 30px 0px 30px;}.elementor-994821 .elementor-element.elementor-element-7fc4130a > .elementor-element-populated{margin-block-start:0px;margin-inline-start:0px;margin-block-end:0px;margin-inline-end:0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding-block-start:30px;padding-inline-start:30px;padding-block-end:60px;padding-inline-end:30px;}.elementor-994821 .elementor-element.elementor-element-4e7c6acb{width:auto;max-width:auto;}.elementor-994821 .elementor-element.elementor-element-78ab1ec{margin-top:0px;margin-bottom:0px;}.elementor-994821 .elementor-element.elementor-element-0a5ed4a > .elementor-widget-container{padding:0px 20px 0px 20px;}.elementor-994821 .elementor-element.elementor-element-0a5ed4a{font-size:var( --e-global-typography-d353781-font-size );line-height:var( --e-global-typography-d353781-line-height );}.elementor-994821 .elementor-element.elementor-element-0a5ed4a a{font-size:var( --e-global-typography-d353781-font-size );line-height:var( --e-global-typography-d353781-line-height );}.elementor-994821 .elementor-element.elementor-element-e7b4b2b > .elementor-element-populated{margin-block-start:0px;margin-inline-start:20px;margin-block-end:0px;margin-inline-end:0px;--e-column-margin-right:0px;--e-column-margin-left:20px;}}@media(max-width:767px){.elementor-994821 .elementor-element.elementor-element-3c40c12:not(.elementor-motion-effects-element-type-background), .elementor-994821 .elementor-element.elementor-element-3c40c12 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2022/04/refereed-journals-lead-m1.jpg");}.elementor-994821 .elementor-element.elementor-element-3c40c12 > .elementor-container{min-height:410px;}.elementor-994821 .elementor-element.elementor-element-3c40c12{margin-top:-90px;margin-bottom:100px;}.elementor-994821 .elementor-element.elementor-element-55f925de{margin-top:-205px;margin-bottom:30px;padding:0px 20px 0px 20px;}.elementor-994821 .elementor-element.elementor-element-7fc4130a{width:100%;}.elementor-994821 .elementor-element.elementor-element-7fc4130a.elementor-column > .elementor-widget-wrap{justify-content:flex-start;}.elementor-994821 .elementor-element.elementor-element-7fc4130a > .elementor-element-populated{padding-block-start:20px;padding-inline-start:20px;padding-block-end:45px;padding-inline-end:20px;}.elementor-994821 .elementor-element.elementor-element-4e7c6acb{width:100%;max-width:100%;}.elementor-994821 .elementor-element.elementor-element-4e7c6acb > .elementor-widget-container{margin:0px 0px 0px 0px;padding:10px 0px 0px 0px;}.elementor-994821 .elementor-element.elementor-element-4e7c6acb .elementor-heading-title{font-size:40px;line-height:45px;letter-spacing:-2.04px;}.elementor-994821 .elementor-element.elementor-element-4ca9a3a .elementor-heading-title{font-size:65px;line-height:65px;}.elementor-994821 .elementor-element.elementor-element-78ab1ec{margin-top:30px;margin-bottom:0px;padding:0px 20px 0px 20px;}.elementor-994821 .elementor-element.elementor-element-210bab5 > .elementor-element-populated{padding-block-start:0px;padding-inline-start:0px;padding-block-end:0px;padding-inline-end:0px;}.elementor-994821 .elementor-element.elementor-element-0a5ed4a > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-994821 .elementor-element.elementor-element-0a5ed4a{column-gap:1px;text-align:start;font-size:var( --e-global-typography-d353781-font-size );line-height:var( --e-global-typography-d353781-line-height );}.elementor-994821 .elementor-element.elementor-element-0a5ed4a a{font-size:var( --e-global-typography-d353781-font-size );line-height:var( --e-global-typography-d353781-line-height );}.elementor-994821 .elementor-element.elementor-element-3c40023{margin-top:60px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-994821 .elementor-element.elementor-element-e7b4b2b > .elementor-element-populated{margin-block-start:0px;margin-inline-start:0px;margin-block-end:0px;margin-inline-end:0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-994821 .elementor-element.elementor-element-9febfc8 > .elementor-widget-container{padding:20px 0px 50px 0px;} .elementor-994821 .elementor-element.elementor-element-9febfc8 .elementor-tab-mobile-title.elementor-active{color:#FFFFFF;}}@media(min-width:768px){.elementor-994821 .elementor-element.elementor-element-7fc4130a{width:60%;}.elementor-994821 .elementor-element.elementor-element-3b5ab089{width:40%;}}@media(max-width:1024px) and (min-width:768px){.elementor-994821 .elementor-element.elementor-element-7fc4130a{width:100%;}}/* Start custom CSS for column, class: .elementor-element-210bab5 */#show_hidefirst {
    background-color: #F04323;
    top: 1451px;
    left: 603px;
    width: 161px;
    height: 41px;
    display: block;
    margin: auto;
    z-index: 1;
    margin-top: 5px;
}

#show_hidefirst{
    color:#ffffff;
    text-align:center;
    padding:8px;
    cursor: pointer;
    line-height: 24px;
    font-weight: 500;
}

.show_hidefirst::after{
   content: "\e994";
font-family: elementskit!important;
    margin-left: 10px;
    position: relative;
    top: 3px;
}

.show_hidefirst::before {
    content: "";
    background-color: rgb(255,255,255,0.8);
    position: absolute;
   bottom: 45px;
    height: 45px;
    width: 100%;
    left: 0;
    z-index: 1
}/* End custom CSS */
/* Start custom CSS for tabs, class: .elementor-element-9febfc8 */td {
  text-align: left;
  padding: 8px;font-size: 18px;line-height: 60px
}
.wp-block-table.is-style-stripes tr, tr{border-bottom:0px!Important;}
p.tabp{background-color: #202020; padding: 22px 10px; color: #fff; line-height: 35px; margin-bottom: 0; font-size: 26px !important;}
a.goto:after{display:none!important;}

th {border: none !important;  text-align: left; padding: 8px;color: #fff !important;font-size: 26px !important;border: none !important;background-color: #000;padding: 0.5em 0.3em 0.5em 0.8em!important}
th td{  padding: 8px;color: #fff;}
tr:nth-child(odd) {border: none;
  background-color: #dddddd;
}
table{border: none;}
.elementor-tab-content h3 {
    font-size: 26px!important;
    padding: 15px 0px!important;
}


.holistic1 .wp-block-table.is-style-stripes td, td {
    border: none !important;
    padding: 1em 0.2em 1em 0.8em!important;
    font-weight: 600 !important;
    color: #000 !important;
    line-height:1.5em!important;
    }
    .tabln td,td{line-height:2em!important}
.holistic1 .wp-block-table.is-style-stripes tr:first-child, tr:first-child {
    border-top: 1px solid #fff !important;
}

 

.tabln{display: inline-block; padding: 0px 100px; width:100%;}
.tabln h4{ font-size:26px!important; margin:30px 0px 23px 0px!important;}
.tabln h5{ font-size:16px!important; margin:20px 0px 8px 0px; font-weight:bold;}
.tabln.tabln1 h4 {
    margin: 30px 0px 24px 0px;
}
.tabln ul {
    margin: 0px 0px 30px 0px!important;
}
.tabln ul li{ margin-bottom:10px; font-size:16px;}

.holistic1 .elementor-tab-content h3 {
    font-size: 26px!important;
    padding: 15px 0px!important;
    margin-bottom: -20px;
    margin-top: 10px;
}
@media only screen and (max-width: 767px) {
   .holistic1 .wp-block-table.is-style-stripes body.responsive-layout td, body.responsive-layout td:first-child {
 
    width: 267px;
}
.holistic1 .elementor-tab-title a{font-size:22px!important;}
.holistic1 .elementor-tab-title a span{font-size:16px!important;}
.holistic1 .elementor-tab-title{width:190px!important;}
homtl{margin-top: 44px!important;}
table{margin:0px 0px 6px 0px!important;}
.tabln h5 {
    margin: 8px 0px 8px 0px;}
    .holistic1 .elementor-tab-content h3 {
    font-size: 22px!important;
    padding: 15px 0px!important;
}
    .tablnin2 p{width: 334%;}
   .holistic1 .elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding: 0px 0px 10px 0px;
}
.holistic1 .elementor-section.elementor-element {
    padding: 0 0px 0px 20px;
}
    .tabln{display: inline-block; width:100%; padding:0px;}
   .tabln th {
  
    font-size: 18px!important;
    font-weight: bold;
    padding: 17px 20px!important;
}
.holistic1 .elementor-tab-content h3{    margin-top: 34px!important;}
.tabln td {
    font-size: 14px!important;
    font-weight: bold!important;
    padding: 20px 20px!important;
}
.tabln h4{font-size:18px!important; margin:0px 0px 0px -14px!important;}
.tablnin {
    border-bottom: 2px solid #eee;
    margin-bottom: 10px;
}
.tabln ul li {
    font-size: 12px;
    line-height: 20px!important;
}
table{width:334%!important;}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-3c40023 */.holistic h4{font-size:26px !important;line-height:31px !important;}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin:0 0 0.5em!important;
}
.tablnin1 table {
    border-bottom: 2px solid #eee;
    margin-bottom: 8px!important;
}
.tablnin2 p{ background-color: #000; padding: 14px 20px; color: #fff; line-height: 35px; margin-bottom: 0; font-size: 22px !important;}

.tablnin2 tr th {
    padding: 19px 10px 19px 18px!importantt;
     border-bottom: 1px solid #fff !important;
     font-size:22px!important;
}
th.rwsp {

    vertical-align: middle;}
h4.homtl {
    margin-top: 50px!important;
    display: inline-block;
}
.tablnin1 table tr th {
    font-size: 22px!important;
    padding:0.6em 0.3em 0.6em 0.8em!important;
}
.tablnin3 table tr th {
    font-size: 22px!important;
    padding:0.6em 0.3em 0.6em 0.8em!important;
}
.holistic1 .elementor-tab-title a span {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    float: left;
    margin-top: 10px;
    color: #000;
}
th, td {
    text-align: left;
    padding: 8px;
    font-weight: bold!important
}
.holistic1 .elementor-tab-title {
    width: 254px!important;
    height:128px!important;
}

.holistic1 .elementor-widget-tabs .elementor-tabs-wrapper {
    padding: 20px 0px!important;
}
element.style {
    display: block;
}
.tablnin {
    overflow-x: auto;
   /* border-bottom: 2px solid #c5c2c2;*/
}
.tablnin1 {
    overflow-x: auto;
   border-bottom: 2px solid #c5c2c2;
}
.tablnin2 {
    overflow-x: auto;
   /* border-bottom: 2px solid #c5c2c2;*/
}
.tablnin3 {
    overflow-x: auto;
    border-bottom: 2px solid #c5c2c2;
}

.holistic1 .elementor-tab-title {
    background: #f1f1f1;
    padding: 20px 10px 20px 20px!important;
    
}
.holistic1 .elementor-widget-tabs .elementor-tab-desktop-title.elementor-active a {
    color: #fff!important;
}
.holistic1 .elementor-widget-tabs .elementor-tab-desktop-title.elementor-active a span{
    color: #fff!important;
}
.holistic1 .elementor-widget-tabs .elementor-tab-desktop-title.elementor-active{ background-color:#831619!important;
    color:#ffffff!important;
}
.holistic1 .holistic1 .elementor-kit-4 a {
    color: #ffffff!important;
    font-family: "Public Sans", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.holistic1 #elementor-tab-title-7551 a{color:;#fff !important;}
.holistic1 .elementor-tab-title a {
    color: #831619!important;
    margin: 0;
    line-height: 30px;
    font-size:24px!important;
    font-weight: bold;
}
.holistic1 .elementor-tab-title a span {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    float: left;
}
a.goto {
    margin-top: 30px!important;
    display: inline-block;
    font-weight:bold;
}
.holistic1 .elementor-tab-desktop-title {
    margin-right: 15px;
    float: left;
    height: 120px;width: 270px;
}
#tabsetid .elementor-tabs-wrapper .elementor-active a:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
border-top: 20px solid #831619;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    float: left;
    bottom: -20px;
}
 .tabln li {
    width: 100%!important;
    float: left;
    margin-top:8px;
}
.tabln li p {
    width: 93%!important;
    float: left!important;
    font-size:16px!important;
    margin-top:-5px!important;
}
h4.tabln2 {
    margin-top: 48px!important;
    display: inline-block;
}
.tabln li i {
    float: left!important;
    width: 4%!important;
}
@media only screen and (max-width: 767px){
    
    .holistic1 .elementor-widget-container table{margin-bottom:20px!important;}
    h4.homtl {
    margin-top: 30px!important;
    display: inline-block;
}
h4.tabln2 {
    margin-top: 25px!important;
    display: inline-block;
        margin-bottom: -4px!important;
}
element.style {
}
.tabln h5 {
    margin-top: 20px;
}
a.goto {
    margin-top: 30px!important;
    display: inline-block;
}
    .tabln li {
    width: 100%!important;
    float: left;
    margin-top:8px;
}
.tabln li p {
    width: 90%!important;
    float: left!important;
    font-size:14px!important;
    margin-top:-5px!important;
}
.tabln li i {
    float: left!important;
    width: 7%!important;
}
   #tabsetid .elementor-tab-mobile-title{display:none;}
  #tabsetid .elementor-tabs .elementor-tabs-wrapper {
    display: flex;
    float: left;
    width: 100%;
    overflow: scroll;
padding-left: 0 !important;
}
tablnin2 p{width: 334%;}
.holistic1 .elementor-992084 .elementor-element.elementor-element-48177bb > .elementor-widget-container {    padding: 20px 0px 50px 0px;
}
#tabsetid .elementor-tab-desktop-title a {
    width: 200px ;
    float: left;}
#tabsetid .elementor-tabs-wrapper{padding:0 !important;}
.holistic1 .elementor-tab-title a h4 {
    padding: 0px !important;    line-height: 25px !important;
    font-size: 25px !important;
}
#tabsetid .elementor-tab-desktop-title{margin-bottom: 30px;}
ol, ul:not(.wp-block-gallery) {
    margin: 1.5em 0.5em 1.5em;
}

}



@media (max-width: 768px) and (min-width: 650px){
       .holistic1 .elementor-tab-title a {
  font-size: 16px!important;
  line-height:23px;
}
.holistic1 .elementor-tab-title {width:180px!important;
        height:120px!important;}
.tablnin3 table tr th {font-size: 18px!important;}
.tabln td, td {
  font-size: 15px!important;}
.tablnin1 table tr th {
    font-size: 18px!important;}
.tablnin2 table tr th {
    font-size: 18px!important;}
.tabln {
    padding: 0px 35px;}
      .holistic1 .elementor-tab-title {
  padding: 20px 4px 20px 20px!important;
}
 .holistic1 .elementor-tab-desktop-title {
    margin-right: 5px!important;}
}

@media (max-width: 600px){
    
    .holistic1 .elementor-tab-title a{font-size:20px!important;}
    .tabln li p {
    width: 80%!important;
    float: left!important;
    font-size:14px!important;
    margin-top:-5px!important;
}
}

@media (max-width: 1024px) and (min-width: 769px){
    .holistic1 .elementor-tab-desktop-title {
    margin-right: 5px!important;}
    .holistic1 .elementor-tab-title a {
  font-size: 22px!important;
}
.holistic1 .elementor-tab-title {
    width: 240px!important;}
  .holistic1 .elementor-tab-title {
  padding: 20px 16px 20px 20px!important;
}
    .tablnin3 table tr th {
    font-size:20px!important;}
}




.tab-accordion .elementor-tab-title {
    background: #f1f1f1;
    padding: 20px 10px 20px 20px!important;
}
.tab-accordion .elementor-widget-tabs .elementor-tab-desktop-title.elementor-active {
    background-color: #831619!important;
    color: #ffffff!important;
}
.tab-accordion .elementor-tabs-wrapper .elementor-active a:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 20px solid #831619;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    float: left;
    bottom: -20px;
}

.tab-accordion .elementor-tab-title a {
    color: #831619!important;
    margin: 0;
    line-height: 30px;
    font-size: 24px!important;
    font-weight: bold;
}

.holistic2 .elementor-tab-title a span {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    float: left;
     color: #000;
}

.tab-accordion .elementor-widget-tabs .elementor-tab-desktop-title.elementor-active a {
    color: #fff!important;
}

.tab-accordion .elementor-widget-tabs .elementor-tab-desktop-title.elementor-active a span {
    color: #fff!important;
}
.tab-accordion .elementor-widget-tabs .elementor-tabs-wrapper {
    padding: 20px 0px!important;
}
.tab-accordion .elementor-tab-desktop-title {
    margin-right: 15px;
    float: left;
}

.tab-accordion .elementor-tab-title {
    width: 270px!important;
    height: 160px!important;
}

.tab-accordion .elementor-widget-tabs.elementor-tabs-view-horizontal .elementor-tab-content {
    border-style: none;
}
.tab-accordion .elementor-tab-title:after {
        border-width: 0 !important;
}
.tab-accordion .elementor-tab-title:before {
     border-width: 0 !important;
}

 .tab-accordion .elementor-tabs-content-wrapper {
    margin-top:0px;
}

@media screen and (max-width: 767px){ 
 .tab-accordion .elementor-tab-title { width: 100%!important;
        height: 110px !important;    }
 
 .tab-accordion .elementor-tab-mobile-title{letter-spacing:1!important;}
 
 .tab-accordion .elementor-tab-title{ min-height:inherit !important;}
 

    
    .tab-accordion .elementor-tab-title.elementor-active {
  color: #831619!important;
      font-weight: bold;
      margin: 0;
    line-height: 30px;
    font-size: 18px!important;
    border: none !important;
}
.tab-accordion .elementor-tab-mobile-title.elementor-active  {
    background-color: #831619!important;
    margin-bottom:0 !important;
}


.tab-accordion .elementor-widget-tabs .elementor-tab-mobile-title {
      color: #831619!important;
    margin:0 0 30px;
    line-height: 30px;
    font-size: 18px!important;
    font-weight: bold;
}
.tab-accordion .elementor-widget-tabs .elementor-tab-mobile-title span {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    float: left;
     color: #000;
}

.tab-accordion .elementor-widget-tabs .elementor-tab-mobile-title.elementor-active  {
    color: #ffffff!important;
}
.tab-accordion .elementor-widget-tabs .elementor-tab-mobile-title.elementor-active span {
     color: #ffffff!important;
}


.tab-accordion .elementor-widget-tabs .elementor-tab-mobile-title {
    position: relative;
}

.tab-accordion .elementor-widget-tabs .elementor-tab-mobile-title:after {
    content: "\e982";
        font-family: elementskit!important;
        speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 3%;
    top:45%;
}

.tab-accordion .elementor-widget-tabs .elementor-tab-mobile-title.elementor-active:after {
        content: "\e981";
}

.tab-accordion .elementor-widget-tabs .elementor-tab-mobile-title {
    border-bottom: 1px solid #d4d4d4;
}


}/* End custom CSS */